<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Enlace al archivo CSS externo -->
    <link rel="stylesheet" href="css/estilos2.css">
</head>
<body>
    <div class="container my-5">
        <!-- Títulos principales -->
        <h1 class="text-center display-4 fw-bold">Hito 1 del 2º trimestre de Acceso a Datos</h1>
        <h2 class="text-center text-muted">Rodrigo Díaz Dones - CampusFP Humanes 2º DAM</h2>

        <!-- Botones -->
        <div class="d-flex flex-column gap-3 mt-5 align-items-center">
            <button class="transparent-btn w-100" onclick="window.location.href='/pagina1'">Media del total de empleados por comunidad autónoma</button>
            <button class="transparent-btn w-100" onclick="window.location.href='/pagina2'">Media del total de empleados por edad</button>
            <button class="transparent-btn w-100" onclick="window.location.href='/pagina3'">Media del total de empleados por periodo</button>
            <button class="transparent-btn w-100" onclick="window.location.href='/pagina4'">Media del total de empleados por sexo</button>
            <button class="transparent-btn w-100" onclick="window.location.href='/pagina5'">Media y varianza del total de empleados por sexo y grupo de edad</button>
            <button class="transparent-btn w-100" onclick="window.location.href='/pagina6'">Varianza del total de empleados por sexo</button>
            <button class="transparent-btn w-100" onclick="window.location.href='/pagina7'">Total de empleados por comunidad autónoma y sexo</button>
            <button class="transparent-btn w-100" onclick="window.location.href='/pagina8'">Suma total de empleados por comunidad autónoma y grupo de edad</button>
            <button class="transparent-btn w-100" onclick="window.location.href='/pagina9'">Desviación estándar del total de empleados por grupo de edad</button>
            <button class="transparent-btn w-100" onclick="window.location.href='/pagina10'">Desviación estándar del total de empleados por comunidad autónoma y periodo</button>
        	<button class="transparent-btn w-100" onclick="window.location.href='/formulario'">Ir al Formulario</button>
        </div>
    </div>

    <!-- Enlace a Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
